/* Main container */

.about-container {
    padding: 30px;
    background: #f8f9fc;
}


/* Hero Section */

.about-hero {
    position: relative;
    height: 400px;
    background-image: url('D:\Login form\React-Projects\School_management5\src\media\background1.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


/* Sections */

.about-section {
    margin-bottom: 40px;
}

.about-section h2 {
    color: #6f42c1;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}


/* Activities Grid */

.activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.activity-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    color: #192f4f;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.activity-card:hover {
    background: #6f42c1;
    color: white;
    transform: translateY(-5px);
}


/* Sport css */

.activity-card {
    padding: 20px;
    background: #f7f7f7;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.activity-card:hover {
    transform: scale(1.05);
    background: #ffeab6;
}

.activity-card a {
    text-decoration: none;
    color: #333;
}