* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-section {
    font-family: Poppins, sans-serif;
    width: 100%;
}

.contact-hero {
    text-align: center;
    background: #ff9c00;
    color: white;
    padding: 80px 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.contact-hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.contact-hero p {
    font-size: 18px;
    margin-top: 10px;
    opacity: .9;
}


/* Wrapper */

.contact-wrapper {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}


/* Contact Info */

.contact-info {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.contact-info h3 {
    margin-bottom: 15px;
    color: #004aad;
}

.contact-info p {
    font-size: 16px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info a {
    color: #004aad;
    text-decoration: none;
    font-weight: 600;
}


/* Social Icons */

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.social-icons a {
    font-size: 22px;
    color: #004aad;
    transition: .3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #ff6600;
}


/* Contact Form */

.contact-form {
    width: 500px;
    background: #f7faff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #004aad;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #cfe0ff;
    font-size: 15px;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #ff9c00;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #ff9c00;
    transform: translateY(-2px);
}


/* Map */

.map-box {
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
}

.map-box h3 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #004aad;
}

.map-box iframe {
    width: 100%;
    max-width: 1100px;
    height: 380px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 80px;
}


/* Responsive */

@media (max-width: 768px) {
    .contact-form {
        width: 100%;
    }
}